body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  } 


.mxy-2 {
  margin-top: 0 !important;
  margin-left: (spacer * .25) !important;
  margin-right: (spacer * .25) !important;
}

.px-2 {
  padding-left: (spacer * .5) !important;
  padding-right: (spacer * .5) !important;
  padding: spacer !important;
}